@model CloudFluffInc.Models.Subscriber

@{
    ViewData["Title"] = "Subscribe to our Newsletter";
}

<h2>Subscribe to our Newsletter</h2>

@if (ViewBag.Message != null)
{
    <p style="color: green;">@ViewBag.Message</p>
}

<form method="post" asp-action="Subscribe">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />

        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />

        <button type="submit">Subscribe</button>
</form>
